@page "/order/{orderId}"
@using BagarBasse.Client.Services.OrderService
@using BagarBasse.Shared.DTOs
@using BagarBasse.Shared.DTOs.OrderDTOs
@inject IOrderService OrderService

@if (order == null)
{
    <span>Loading order...</span>
}
else
{
    <h3>Order from @order.OrderDate</h3>

    <div>
        @foreach (var product in order.OrderItems)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img src="@product.Image" alt="" class="image" />
                </div>
                <div class="name">
                    <h5><a href="/product/@product.Title">@product.Title</a></h5>
                    <span>@product.ProductVariant</span>
                    <span>Quantity: @product.Quantity</span>
                </div>
                <div class="product-price">@(product.Price * product.Quantity ) kr</div>
            </div>
        }
        <div class="product-price">
            Total: @order.TotalPrice kr
        </div>
    </div>
}
@code {

    [Parameter]
    public string OrderId { get; set; } = string.Empty;

    OrderDto order = null;

    protected override async Task OnInitializedAsync()
    {
        if (Guid.TryParse(OrderId, out var result))
        {
            order = await OrderService.GetOrderDetails(OrderId);
        }
    }

}