@using BagarBasse.Shared.Models
@using BagarBasse.Client.Services.UserInfoService
@using System.Net
@inject IUserInfoService UserInfoService


@if (userInfo == null)
{
    <span>
        <p> Du har inte angett några uppgifter ännu</p>
        <button class="btn btn-pastel-pink w-100 mt-3 p-2" @onclick="InitUserInfo">Lägg till användaruppgifter</button>
    </span>
}
else if (!editUserInfo)
{
    <p>
        <span>@userInfo.FirstName @userInfo.LastName</span><br/>
        <span>@userInfo.Street</span><br/>
        <span>@userInfo.PostalCode</span><br/>
        <span>@userInfo.City</span><br/>
        <span>@userInfo.PhoneNumber</span><br/>
    </p>
    <button class="btn btn-pastel-pink w-100 mt-3 p-2" @onclick="EditUserInfo">Ändra användaruppgifter</button>
}
else
{
    <EditForm Model=userInfo OnValidSubmit="SubmitUserInfo">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <div class="form-floating">
                <InputText id="firstname" @bind-Value="userInfo.FirstName" class="form-control" placeholder="First Name"></InputText>
                <label for="firstname">Förnamn:</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <InputText id="lastname" @bind-Value="userInfo.LastName" class="form-control" placeholder="Last Name"></InputText>
                <label for="lastname">Efternamn:</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <InputText id="street" @bind-Value="userInfo.Street" class="form-control" placeholder="Street"></InputText>
                <label for="street">Adress:</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <InputText id="postalcode" @bind-Value="userInfo.PostalCode" class="form-control" placeholder="Postal Code"></InputText>
                <label for="postalcode">Postnummer:</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <InputText id="city" @bind-Value="userInfo.City" class="form-control" placeholder="City"></InputText>
                <label for="city">Stad:</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <InputText id="phonenumber" @bind-Value="userInfo.PhoneNumber" class="form-control" placeholder="Phone Number"></InputText>
                <label for="phonenumber">Telefonnummer:</label>
            </div>
        </div>
        <button type="submit" class="btn btn-pastel-pink w-100 mt-3 p-2">Spara</button>
    </EditForm>
}

@code {
    UserInfo? userInfo = null;
    bool editUserInfo = false;
    bool userHasUserInfo = false;


    protected override async Task OnInitializedAsync()
    {
         var response = await UserInfoService.GetUserInfo();

        if (response.IsSuccessStatusCode)
        {
            if(response.StatusCode == HttpStatusCode.NoContent)
                userHasUserInfo = true;
            else
                userInfo = await response.Content.ReadFromJsonAsync<UserInfo>();
        }
    }

    private async Task SubmitUserInfo()
    {
        editUserInfo = false;
        HttpResponseMessage response;

        if (!userHasUserInfo)
        {
            response = await UserInfoService.AddUserInfo(userInfo);
        }
        else
        {
            response = await UserInfoService.UpdateUserInfo(userInfo);
        }

        userInfo = await response.Content.ReadFromJsonAsync<UserInfo>();
    }

    private void InitUserInfo()
    {
        userInfo = new UserInfo();
        editUserInfo = true;
    }

    private void EditUserInfo()
    {
        editUserInfo = true;
    }

}