@page "/admin/orders"
@using BagarBasse.Client.Services.OrderService
@using BagarBasse.Shared.DTOs
@using Microsoft.AspNetCore.Authorization

@inject IOrderService OrderService
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin")]
<div class="d-flex">
<div class="me-3">
    <AdminMenu ActiveItem="5"/>
</div>

<div class="flex-grow-1 p-3 font-ambit">
        
    <h2 class="display-5 mt-3  mb-5 text-center font-gatefold-demi">
        Ordrar
    </h2>

    @if (AdminOrders == null)
    {
        <span>Loading products...</span>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Order</th>
                <th>Datum</th>
                <th>Ordertotal</th>
                <th>Sammanfattning</th>
            </tr>
            </thead>
            <tbody>
            <Virtualize Items="AdminOrders" Context="order">
                <tr>
                    <td>
                        <img src="@order.ProductImageUrl" alt="" />
                    </td>
                    <td>@order.Product</td>
                    <td>@order.OrderDate</td>
                    <td>@order.TotalPrice</td>
                    <td>@order.Product</td>
                </tr>
            </Virtualize>
            </tbody>
        </table>
    }
</div>
</div>

@code {
    public List<OrderOverviewDto>? AdminOrders { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        AdminOrders = await OrderService.GetAdminOrders();
    }


}